H1 {

  color: #fff;
  background-color: #303030;
  text-align: center;
  margin-top: 10px;
  padding: 20px;

}

.green-header {
   background-color: #85FED1;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 20px;
   margin-right: 20px;
   padding: 10PX;

}

.images-padding {
  margin: 20px;
}

h2 {
  color:  #303030;
  font-size: 15px;
}
header {
;
}
html {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 24px;
  line-height: -3px

}
.movefloat  {
   margin: 3px;
   float: left;
   width:384px;
}
footer {
  color: #fff;
  background-color: #303030;
  text-align: center;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

  clear: both;

}

.yellow-box {

  background-color: yellow;
  width:384px;
  
  padding: 10px;
  text-align: center;


}

img {
    width:384px;
    height:308px;
 }
