H1 {

  color: #fff;
  background-color: #303030;
  text-align: center;
  margin-top: 10px;
  padding: 20px;

}

.green-header {
   background-color: green;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 20px;
   margin-right: 20px;
   padding: 15PX;

}


header {
;
}
html {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 24px;
  line-height: -3px


}

footer {
  color: #fff;
  background-color: #303030;
  text-align: center;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

}
